body{
    background-color: rgb(149, 235, 146);
    margin: 0;
}

nav {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    padding: 10px;
}

nav a{
    margin: 0 15px;
    text-decoration: none;
    color: purple;
    font-weight: bold
}

img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.galeria img{
    width: 100%;
    height: 250px;
    border-radius: 5px;
}